<section id="intro">
    <header>
    <nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">

          <a class="navbar-brand" href="index.html">
            <%= image_tag "https://s3-us-west-2.amazonaws.com/firstartup/logo/1startup.png", alt: "1startup Logo" %>
          </a>

          <div id="main-nav" class="navbar-collapse">          
          <ul class="social-links">
            <!-- <a href="#"><li class="fa fa-twitter"></li></a>
            <a href="#"><li class="fa fa-facebook"></li></a>
            <a href="#"><li class="fa fa-youtube"></li></a>
            <a href="#"><li class="fa fa-instagram"></li></a> -->
          </ul>
        </div><!-- /navbar-collapse -->
        </div><!-- /container -->
        
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="intro-well wow animated fadeInDown">
	    <section id="uvp" class="part col-md-12">
		    <h1>
		    	Nous aidons les early startupers à se rapprocher du succès.
		    </h1>
        <h2>
          1startup symbolise cette première startup par laquelle chaque startuper est obligé de passer. Tester rapidement son idée, trouver les bonnes personnes sont des problématiques récurrentes sur lesquelles nous travaillons.
        </h2>
		    <!-- <form class="form-subscribe" action="//forms.brace.io/julien@1startup.fr" method="post">
		  		<div class="form-group">
            <label for="name">Votre prénom</label>
            <input id="name" name="name" type="text" class="input-lg form-control">    
          </div>
          <div class="form-group">
            <label for="email">Votre email</label>
            <input id="email" name="email" type="email" class="input-lg form-control">
          </div>
		    	<button class="btn btn-primary">Je lance ma startup maintenant</button>
		    </form> -->
        <ul>
          <li>
            <a href="http://1startup.svbtle.com/comment-tester-une-idee-de-startup-simplement"><i class="fa fa-arrow-circle-o-right"></i>Apprenez comment tester votre idée simplement en 3 étapes.</a>
          </li>
          <li>
            <a href="http://1stdev.fr"><i class="fa fa-arrow-circle-o-right"></i>Trouvez un développeur rapidement.</a>
          </li>
          <li>Et bientôt d'autres projets...</li>
        </ul>
        
	    </section>
    </div>
  </div><!-- /container -->

</section>


<!-- <section id="features">
  <div class="container wow fadeIn animated animated why" style="visibility: visible;">
    <h1>Pourquoi 1st.artup ?</h1>
    <h2 class="why-statement">
      <strong>Nous voulons donner la possibilité aux early startupers de se rapprocher du succés.</strong>   
    </h2>
    <h2>
      Au début, une startup fait face à des problèmes récurrents : faire une landing page, tester cette landing page, mesurer l'impact, la modifier, la tester à nouveau... bref c'est un long chemin pour lequel nous avons pensé à mettre en place un environnement qui permettrait au startuper de se concentrer sur l'essentiel.
    </h2>
    <h2>Ne perdez plus de temps pour...</h2>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
        <div class="iconbox">
          <a href="#"><i class="fa fa-cogs"></i></a>
        </div>
          <p class="icntitle">1.Construire</p>
          <p class="icnp">Nous constuisons et déployons votre landing page. Soyez focus sur votre contenu.</p>

      </div>

      <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
      <div class="iconbox">
        <a href="#"><i class="fa fa-check-circle"></i></a>
      </div>
          <p class="icntitle">2.Tester</p>
          <p class="icnp">Nous mettons en place les canaux sur lesquels vous pourrez tester votre idée.</p>
      </div>

    <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
      <div class="iconbox">
        <a href="#"><i class="fa fa-bar-chart-o"></i></a>
      </div>
    <p class="icntitle">3.Mesurer</p>
           <p class="icnp">Nous définissons ensemble les indicateurs clés et nous mesurons pour vous l'impact de votre idée.</p>
      </div>
    </div>
    </div>
  
</section> -->
<section id="newsletter">

<div class="container wow animated fadeInDown animated" style="visibility: visible;">
  <h3>Vous rencontrez une autre difficulté ? <br> Vous pouvez nous contacter.</h3>
    <form class="form-subscribe" action="//forms.brace.io/julien@1startup.fr" method="post">
      <div class="form-group">
        <label for="name">Votre prénom</label>
        <input id="name" name="name" type="text" class="input-lg form-control">    
      </div>
      <div class="form-group">
        <label for="email">Votre email</label>
        <input id="email" name="email" type="email" class="input-lg form-control">
      </div>
      <div class="form-group">
        <label for="message">Votre message</label>
        <textarea id="message" name="message" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary">Envoyer</button>
    </form>
  </form>
</div>

</section>